
.searchFieldWrapper {
  width: 100%;
  display: flex;

  input,
  button {
    font-size: 16px;
    color: $font-color;
    font-family: $font-family;
  }

  input[type="text"] {
    flex-grow: 10;
    padding: 1em 1.5em;
    border: none;
  }

  button {
    flex-grow: 2;
    background: $button-color;
    cursor: pointer;
    border: none;
    font-size: 1.1em;

    &:hover {
      background: darken($button-color, 5)
    }
  }
}

.filters {
  padding: 1em 0;
  margin: 1em 0;

  .sortBy {
    margin: 0 0.5em 0 1.5em;
  }

  label {
    cursor: pointer;
    padding: 0.75em;
    background: $white;

    &.active {
      background: lighten($button-color, 5);
    }

  }

  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}