.searchFieldWrapper {
  width: 100%;
  display: flex;

  input,
  button {
    font-size: 16px;
  }

  input[type="text"] {
    flex-grow: 10;
    padding: 5px 10px;
  }

  button {
    flex-grow: 2;
    background: #bee4be;
    cursor: pointer;

    &:hover {
      background: darken(#bee4be, 10)
    }
  }
}

.filters {
  padding: 1em 0;
  .sortBy {
    margin-right: 5px;
  }

  label {
    cursor: pointer;
  }

  input {
    margin: 0 0.5em 0 1em;
  }
}