@import "reset";
@import "variables";
@import "components/Search";
@import "components/SearchResults";


body {
  background: #f2f2f2;
}

.App {
  max-width: 900px;
  width: 100%;
  margin: 1em auto;
  font-size: 1em;
  font-family: $font-family;
  color: $font-color;
}

